<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gl.weave.dao.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.gl.weave.model.SysRole">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="OPERATOR" jdbcType="VARCHAR" property="operator" />
    <result column="OP_DATE" jdbcType="TIMESTAMP" property="opDate" />
    <result column="ACTIVE" jdbcType="BIGINT" property="active" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ROLE_NAME, REMARKS, CREATOR, CREATE_DATE, OPERATOR, OP_DATE, ACTIVE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_role
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.gl.weave.model.SysRole">
    insert into sys_role (ID, ROLE_NAME, REMARKS, 
      CREATOR, CREATE_DATE, OPERATOR, 
      OP_DATE, ACTIVE)
    values (#{id,jdbcType=BIGINT}, #{roleName,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{operator,jdbcType=VARCHAR}, 
      #{opDate,jdbcType=TIMESTAMP}, #{active,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.gl.weave.model.SysRole">
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="roleName != null">
        ROLE_NAME,
      </if>
      <if test="remarks != null">
        REMARKS,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="operator != null">
        OPERATOR,
      </if>
      <if test="opDate != null">
        OP_DATE,
      </if>
      <if test="active != null">
        ACTIVE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="opDate != null">
        #{opDate,jdbcType=TIMESTAMP},
      </if>
      <if test="active != null">
        #{active,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gl.weave.model.SysRole">
    update sys_role
    <set>
      <if test="roleName != null">
        ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null">
        OPERATOR = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="opDate != null">
        OP_DATE = #{opDate,jdbcType=TIMESTAMP},
      </if>
      <if test="active != null">
        ACTIVE = #{active,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gl.weave.model.SysRole">
    update sys_role
    set ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      CREATOR = #{creator,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      OPERATOR = #{operator,jdbcType=VARCHAR},
      OP_DATE = #{opDate,jdbcType=TIMESTAMP},
      ACTIVE = #{active,jdbcType=BIGINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>